!!! html
html
  head
    title GitHubPM
    link(href="css/bootstrap.css", rel="stylesheet").
    style
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand GitHubPM
    .container
      != body
